## Hey! Let's start with python

In [1]:
print("Hello Samantha!")

Hello Samantha!

## If Else Statement

In [6]:
if (5>2):
  print("yes you are right")

yes you are right

In [7]:
if (5<2):
  print("yes you are right")

In [8]:
if (5>2):
  print("Five is greater than two")
if (1<2):
  print("One is smaller than two")

Five is greater than two
One is smaller than two

## Python Variables

In [12]:
x = 5
y = "Hello Samantha"

In [13]:
print(x)

5

In [14]:
print(y)

Hello Samantha

## Data Types 
1. INT - Integer 
2. String - words, charaters etc.
3. Float - decimal numbers

In [15]:
x = "3"
y = 3
z = 3.0

In [17]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [18]:
a = y+z

In [20]:
print(type(a))
print(a)

<class 'float'>
6.0

In [22]:
#type casting
b = int(x)+y

In [23]:
print(type(b))
print(b)

<class 'int'>
6

## Python Operators
'+' Addition Operator


'-' Subtraction Operator

'/' Division Operator

'//' Floor Division 

'*' Multiplication Operator

'%' Modulo Operator

'**' Exponential Operator

In [26]:
a = 3**5
print(a)

243

In [27]:
b = 8%3
print(b)

2

In [36]:
x = 15
c = not(x<5 and x<10)
print(c)

True

Python Identity Operator

is 

is not

In [39]:
a=5
b=5
print(a is b)

True

Bitwise Operators

'&' AND

'|' OR

'^' XOR

'~' NOT

'<<' Left Shift

'>>' Right Shift

In [40]:
mylist = ["apple", "banana", "cherry"]

In [44]:
mylist[1]='mango'

In [45]:
print(mylist)

['apple', 'mango', 'cherry']

In [42]:
mylist[2]

'cherry'

In [43]:
l = len(mylist)
print(l)

3

Four types of python collections are 

List - collection which is ordered and changeable. Allow duplicate memebers

Tuple - collection which is ordered and unchangeable. Allows duplicate members

Set - collection which is unordered. Unchangeable and unindexed. No duplicate members are allowed.

Dictionary- Key Value Pair

In [46]:
thistuple = ('apple',"banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [50]:
thistuple[1]

'banana'

In [52]:
myset = {"apple","apple","cherry"}
print(myset)

{'cherry', 'apple'}

In [53]:
thisdict = {
    "brand":"Gucci",
    "type" : "Dress",
    "color" : "black"
}

In [54]:
print(thisdict)

{'brand': 'Gucci', 'type': 'Dress', 'color': 'black'}

In [55]:
thisdict["type"]

'Dress'

In [56]:
#WAP to add two numbers
a = 3
b = 4
c = a+b
print(c)

7

while(condition)

{
  
  //Executable statement if true

}

In [59]:
i=0
while(i<5):
  print("Hey")
  i+=1

Hey
Hey
Hey
Hey
Hey

for i in 'bound':
   statement to execute until it is bounded

In [60]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [62]:
lst = [5,6,6,6,6]

In [63]:
for i in lst:
  print(i)

5
6
6
6
6

In [72]:
for i in range(2,10,1):
  print(i)

2
3
4
5
6
7
8
9